.icon{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}
.navbar-brand{
	margin-left: 70px;
	margin-bottom: 100px;
}
footer{
	background-color: black;
	color: white;
	margin-top: 20px;
}
ul{
	margin-right: 10 px;
	margin-top: 10 px;
}
ul{
	margin-top: 10 px;
}
